@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}


body {
 padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
  height: 100%;

}

a {
  text-decoration: none;
}



button {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--body-bg);
  border: 1px solid var(--aqua);
  color: var(--aqua);
  padding: 12px 16px;
  cursor: pointer;
  gap: 10px;
  margin: 0 auto;
}

button:hover {
  background-color: var(--plum);
  border: 1px solid var(--white);
  color: var(--);
  transition: 1s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p {
  color: var(--aqua);
  cursor: pointer;
}

.nav p:hover {
  border-bottom: 1px solid var(--white);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}